.container {
  background-color: #efefff;
  position: relative;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 6px;
}

.post-panel {
  position: relative;
  display: grid;
  grid-template-columns: 50px auto 100px;
  grid-gap: 2px;
}
.post-panel label, .post-panel input, .post-panel button {
  font-size: 0.9em;
}

.received-panel {
  position: relative;
  margin-top: 20px;
  display: grid;
}

.received-panel label, .received-panel input {
  font-size: 0.9em;
}
